.wrapper{
    border: 1px solid #F2F2F3;
    border-radius: 20px;
    background: white;
    transition: .3s;
    cursor: pointer;
    width: 300px;

    & + .wrapper{
        margin-top: 20px;
    }

    &:hover{
         box-shadow: 0 10px 8px 0px rgba(0, 0, 0, 0.1);
    }
}



.info{
    display: flex;
    align-items: center;
}

.icon{
    padding: 20px;
    background: rgb(223, 231, 244);
    border-radius: 20px;
    display: flex;
}

.temp{
    font-weight: 500;
    font-size: 32px;
    position: relative;
    padding: 0 25px;
    border-right: 1px solid #F2F2F3;
}

.cels{
    position: absolute;
    font-size: 12px;
    color: #7967DF;
    font-weight: 500;
}

.city{
    font-weight: 500;
    margin-bottom: 5px;
}

.country{
    color: #B5B5BC;
    font-size: 12px;
}

.attributes{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    color: #B5B5BC;
    font-size: 12px;
}

.cityWrapper{
    margin-left: 10px;
}

.attribute{
    width: 30%;

}

.windPosition{
    width: 30%;
    text-align: center;
    border-left: 2px solid #F2F2F3;
    border-right: 2px solid #F2F2F3;
}

.windSpeed{
    width: 30%;
    text-align: center;
}