.wrapper{
    padding: 20px;
    background: rgb(250, 250, 250);
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    display: flex;

    @media (--root-media-medium) {
        padding: 60px;
    }
}